# Project Assemblies
/DesignPatterns.dll
/DesignPatterns/bin
/DesignPatterns/obj
/DesignPatterns.Tests/bin
/DesignPatterns.Tests/obj

# Common Directories
/.vs

# Common Files
DesignPatterns.sln.DotSettings.user